<template>
  <div class="domiki">
    <swiper :options="topSwiperOption" class="top-slider" ref="topSwiper">
      <swiper-slide v-for="(item, index) in topRow" :key="index">
        <div class="inner">
          <div class="tooltip"
            :style="{
              top: item.tTop && item.tTop + 'px' || '0',
              left: item.tLeft && item.tLeft + 'px' || '0',
              width: item.tWidth && item.tWidth + 'px' || 'initial'
            }"
          >
            {{ item.name }}
          </div>
          <div class="t-arrow"
            :style="{
              top: item.tTop && Number(item.tTop + 36) + 'px' || '36px',
              left: item.tLeft && Number(item.tLeft + 15) + 'px' || '15px'
            }"
          ></div>
          <a href="#">
            <img
              :src="item.image"
              :alt="item.name"
              :style="{
                width: item.width + 'px',
                height: item.height + 'px',
                marginTop: item.top && Number(item.top + 18) + 'px' || '0',
                marginLeft: item.left && item.left + 'px' || '0'
              }"
            >
          </a>
        </div>
      </swiper-slide>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
    <swiper :options="bottomSwiperOption" class="bottom-slider" ref="bottomSwiper">
      <swiper-slide v-for="(item, index) in bottomRow" :key="index">
        <div class="inner">
          <div class="tooltip"
            :style="{
              top: item.tTop && item.tTop + 'px' || '0',
              left: item.tLeft && item.tLeft + 'px' || '0',
              width: item.tWidth && item.tWidth + 'px' || 'initial'
            }"
          >
            {{ item.name }}
          </div>
          <div class="t-arrow"
            :style="{
              top: item.tTop && Number(item.tTop + 36) + 'px' || '36px',
              left: item.tLeft && Number(item.tLeft + 15) + 'px' || '15px'
            }"
          ></div>
          <a href="#">
            <img
              :src="item.image"
              :alt="item.name"
              :style="{
                width: item.width + 'px',
                height: item.height + 'px',
                marginTop: item.top && Number(item.top + 18) + 'px' || '0',
                marginLeft: item.left && item.left + 'px' || '0'
              }"
            >
          </a>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
.swiper-container {
  font-family: 'Open Sans';
  font-weight: 800;
  .swiper-wrapper {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 60%;
    background-position-x: left;
    background-position-y: bottom;
  }
  &.top-slider {
    padding-top: 228px;
    margin-bottom: -198px;
    background-image: linear-gradient(#a7d5dd, #fff);
    .swiper-wrapper {
      padding-bottom: 78px;
      background-image: url('../assets/ground1.svg');
      // &:before {
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      //   background-image: url('../assets/far.svg');
      //   background-repeat: no-repeat;
      // }
    }
  }
  &.bottom-slider {
    height: 323px;
    .swiper-wrapper {
      background-image: url('../assets/ground2.svg');
    }
  }
  .swiper-slide {
    .tooltip, .t-arrow {
      position: absolute;
      transition: border 0.4s linear, background 0.4s linear, color 0.4s linear;
    }
    .tooltip {
      background: #fff;
      padding: 10px;
      font-size: 16px;
      line-height: 1;
      text-align: center;
    }
    .t-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 15px 0 0;
      border-color: #fff transparent transparent transparent;
    }
    &:hover .tooltip {
      background: #ee4966;
      color: #fff;
    }
    &:hover .t-arrow {
      border-color: #ee4966 transparent transparent transparent;
    }
  }
}
</style>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: { swiper, swiperSlide },
  name: 'domiki',
  data () {
    let vm = this
    return {
      topSwiperOption: {
        // notNextTick: true,
        grabCursor: true,
        setWrapperSize: true,
        autoHeight: false,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        mousewheelControl: false,
        observeParents: true,
        slidesPerView: 5,
        spaceBetween: 0,
        breakpoints: {
          1500: {
            slidesPerView: 4
          },
          1200: {
            slidesPerView: 3
          },
          996: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 1
          }
        },
        onTransitionStart (swiper) {
          vm.$refs.bottomSwiper.swiper.slideTo(swiper.activeIndex, 1000, false)
        }
      },
      bottomSwiperOption: {
        // notNextTick: true,
        grabCursor: true,
        setWrapperSize: true,
        autoHeight: false,
        mousewheelControl: false,
        observeParents: true,
        slidesPerView: 5,
        spaceBetween: 0,
        breakpoints: {
          1500: {
            slidesPerView: 4
          },
          1200: {
            slidesPerView: 3
          },
          996: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 1
          }
        },
        onTransitionStart (swiper) {
          vm.$refs.topSwiper.swiper.slideTo(swiper.activeIndex, 1000, false)
        }
      },
      houses: [
        [{
          image: 'static/1.png',
          name: 'П-44Т',
          width: 282,
          height: 245,
          top: -18,
          left: 14,
          tTop: -59,
          tLeft: 192
        },
        {
          image: 'static/2.png',
          name: 'П-44К',
          width: 228,
          height: 298,
          top: -55,
          left: 45,
          tTop: -106,
          tLeft: 140
        },
        {
          image: 'static/3.png',
          name: 'П-44Т25',
          width: 264,
          height: 398,
          top: -165,
          left: 30,
          tTop: -187,
          tLeft: 74
        },
        {
          image: 'static/4.png',
          name: 'Д-25',
          width: 217,
          height: 414,
          top: -156,
          left: 36,
          tTop: -196,
          tLeft: 176,
          tWidth: 48
        },
        {
          image: 'static/5.png',
          name: 'П-44',
          width: 300,
          height: 335,
          top: -92,
          left: -33,
          tTop: -78,
          tLeft: 64
        },
        {
          image: 'static/6.png',
          name: 'КОПЭ',
          width: 292,
          height: 393,
          top: -162,
          left: -6,
          tTop: -188,
          tLeft: 150,
          tWidth: 51
        },
        {
          image: 'static/7.png',
          name: 'П-3МК ФЛАГМАН',
          width: 341,
          height: 220,
          top: -4,
          left: -3,
          tTop: -57,
          tLeft: 76,
          tWidth: 150
        },
        {
          image: 'static/8.png',
          name: 'КОПЭ-М БАШНЯ, ПАРУС',
          width: 245,
          height: 346,
          top: -138,
          left: 50,
          tTop: -196,
          tLeft: 158,
          tWidth: 202
        },
        {
          image: 'static/9.png',
          name: 'П-3',
          width: 247,
          height: 246,
          top: -26,
          left: -7,
          tTop: -77,
          tLeft: 89
        },
        {
          image: 'static/10.png',
          name: 'П-30',
          width: 369,
          height: 254,
          top: -16,
          left: -78,
          tTop: -58,
          tLeft: 89
        }],

        [{
          image: 'static/11.png',
          name: '1-155/9М',
          width: 311,
          height: 160,
          top: 101,
          left: 6,
          tTop: 98,
          tLeft: 45
        },
        {
          image: 'static/12.png',
          name: 'II-18-01/08Б',
          width: 329,
          height: 151,
          top: 115,
          left: 16,
          tTop: 141,
          tLeft: 259,
          tWidth: 95
        },
        {
          image: 'static/13.png',
          name: 'II-18-01/09Б',
          width: 141,
          height: 162,
          top: 100,
          left: 82,
          tTop: 119,
          tLeft: 229,
          tWidth: 95
        },
        {
          image: 'static/14.png',
          name: 'II-18-01/08МИК',
          width: 350,
          height: 149,
          top: 115,
          left: -59,
          tTop: 140,
          tLeft: 183,
          tWidth: 125
        },
        {
          image: 'static/15.png',
          name: 'II-18-01/09МИК',
          width: 177,
          height: 160,
          top: 95,
          left: 0,
          tTop: 120,
          tLeft: 153,
          tWidth: 125
        },
        {
          image: 'static/16.png',
          name: 'П-46',
          width: 356,
          height: 196,
          top: 74,
          left: -110,
          tTop: 29,
          tLeft: 99
        },
        {
          image: 'static/17.png',
          name: 'П-55',
          width: 345,
          height: 196,
          top: 76,
          left: -32,
          tTop: 67,
          tLeft: 219
        },
        {
          image: 'static/18.png',
          name: 'ГМС-1 (ГМС-2001)',
          width: 279,
          height: 225,
          top: 49,
          left: -20,
          tTop: 42,
          tLeft: 205,
          tWidth: 149
        },
        {
          image: 'static/19.png',
          name: 'II-49',
          width: 350,
          height: 135,
          top: 142,
          left: -75,
          tTop: 88,
          tLeft: 105,
          tWidth: 38
        },
        {
          image: 'static/20.png',
          name: 'II-68-01/16',
          width: 367,
          height: 222,
          top: 61,
          left: -40,
          tTop: 43,
          tLeft: 113,
          tWidth: 91
        }]
      ]
    }
  },
  computed: {
    topRow () {
      return this.houses[0]
    },
    bottomRow () {
      return this.houses[1]
    },
    list () {
      return this.bottomRow.concat(this.topRow)
    }
  }
}
</script>
