<template>
  <div id="app">
    <domiki></domiki>
  </div>
</template>

<script>
import Domiki from './components/Domiki'

export default {
  name: 'app',
  components: { Domiki }
}
</script>

<style>
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
</style>
